<div fxLayout="row" fxLayoutAlign="end center" >
  <button mat-button color="primary" routerLink = "/form">
    <mat-icon>add</mat-icon>
    Create New
  </button >

</div>
<mat-form-field appearance="standard">
<input matInput (keyup)="applyFilter($event)"  #input>
</mat-form-field>
<table mat-table [dataSource]="datasource" class="mat-elevation-z8">
 
 
  
   
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>Id. </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
  
    <ng-container matColumnDef="cin">
      <th mat-header-cell *matHeaderCellDef> Cin </th>
      <td mat-cell *matCellDef="let element"> {{element.cin}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
  
    <ng-container matColumnDef="cv">
        <th mat-header-cell *matHeaderCellDef> CV </th>
        <td mat-cell *matCellDef="let element"> <a href={{element.cv}}> <mat-icon aria-hidden="false" aria-label="Example home icon">picture_as_pdf</mat-icon> </a></td>
      </ng-container>
    <ng-container matColumnDef="createDate">
      <th mat-header-cell *matHeaderCellDef> CreateDate </th>
      <td mat-cell *matCellDef="let element"> {{element.createDate}} </td>
    </ng-container>
    <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef> Type </th>
        <td mat-cell *matCellDef="let element"> {{element.type}}</td>
      </ng-container>
      
      <ng-container matColumnDef="action" stickyEnd>
        <th mat-header-cell *matHeaderCellDef>  </th>
        <td mat-cell *matCellDef="let element"><button mat-button color="primary" [routerLink]="element.id+'/edit'"><mat-icon aria-hidden="false" aria-label="Example home icon" class="green-icon">edit</mat-icon></button><button mat-button color="primary" (click)= "delete(element.id)"> <mat-icon color="warn">delete</mat-icon></button></td>
      </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
  